body {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-family: $font;
  padding-top: 60px;

  &::-webkit-scrollbar {
    width: 5px;
  }

  &::-webkit-scrollbar-thumb {
    background-color: #e5ffb0;
    border-radius: 5px;
  }

  &::-webkit-scrollbar-button {
    display: none;
  }

  &::-webkit-scrollbar-track {
    background-color: rgba($primary-dark, .7);
  }
}

*, :after, :before {
  box-sizing: border-box;
}

::selection {
  background: $primary-dark;
  color: $primary-light-hover;
}

::-moz-selection {
  background: $primary-dark;
  color: $primary-light-hover;
}

a:hover {
  text-decoration: none;
}

.Panel {
  @extend .panel;
  border-radius: 5px;
  overflow: hidden;

  .Content:after, .Content:before {
    display: table;
    content: " ";
    clear: both;
  }
}